html {
	box-sizing: border-box;
}

*,
*::before, 
*::after { 
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 17px;
	line-height: 24px;
	color: #000000;
	background-color: #ffffff;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.button {
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	background-color: #ee3643;
	border: none;
}

header {
	background-color: #f4f7f9;
}

.visually-hidden {
	display: none;
}

.header-top {
	background-color: #293449;
}

.wrapper {
	width: 940px;
	margin: 0 auto;
}

/*		header-top		*/
.header-top div {
	display: flex;
	justify-content: start;
	align-items: center;
}

.logo {
	position: relative;
	width: 220px;
	height: 42px;
	padding-bottom: 10px;
	padding-top: 13px;
	padding-left: 56px;
	padding-right: 40px;

	background-color: #ee3643;
}

.logo:hover,
.logo:focus {
	background-color: #ca2c37;
}

.logo:active {
	background-color: #ba2732;
}

.logo::after {
	content: "";

	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5px;
	margin-bottom: -5px;
	
	background-color: #b52933;
}

.logo:hover::after,
.logo:focus::after {
	background-color: #9a212a;
}

.logo:active::after {
	background-color: #8e1e26;
}

/*		header-top__form		*/
.header-top__form {
	position: relative;
	display: flex;
	align-items: center;
	flex-grow: 1;
	min-height: 42px;
}

.header-top__form input {
	width: 100%;
	padding-right: 10px;
	padding-left: 48px;
	padding-top: 11px;
	padding-bottom: 12px;

	background-color: inherit;

	border: none;
	font-size: 17px;
	line-height: 18px;
	color: #fff;
}

.header-top__form input:hover,
.header-top__form input:focus {
	background-image: url(../img/icon-search.svg);
	background-repeat: no-repeat;
	background-position: 17px 12px;
	background-color: #212a3a;
}

.header-top__form input:focus {
	outline: none;
	background-color: #fff;
	color: #000000;
	background-image: url(../img/icon-search-red.svg);
	background-repeat: no-repeat;
	background-position: 17px center;
}

.header-top__form input::placeholder {
	font-family: 'Cuprum';
	color: #fff;
}

.header-top__form label {
	font-size: 0;
}

.header-top__form label::before {
	content: "";
	position: absolute;
	left: 17px;
	top: 50%;
	width: 16px;
	height: 16px;
	margin-top: -9px;

	background-image: url(../img/icon-search.svg);
	opacity: 0.3;
}
/*		end header-top__form		*/

/*		header-top__list		*/
.header-top__list {
	display: flex;
	width: 450px;
	min-height: 42px;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	align-items: center;
}

.header-top__item {
	display: flex;
	align-items: stretch;
}

.header-top__link {
	position: relative;
	width: 150px;
	padding: 9px 5px;
	color: #fff;
}

.header-top__item:first-child a{
	padding-left: 44px;
}

.header-top__item:nth-child(2) a{
	padding-left: 49px;
}

.header-top__item:last-child a{
	text-align: center;
}

.header-top__item:first-child a::before,
.header-top__item:nth-child(2) a::before {
	content: "";
	position: absolute;
	width: 14px;
	height: 15px;
	top: 50%;
	left: 17px;
	transform: translateY(-63%);

	background-image: url(../img/icon-bookmark.svg);
	opacity: 0.3;
}

.header-top__item:nth-child(2) a::before {
	left: 18px;
	width: 15px;
	background-image: url(../img/cart-icon.svg);
}

.header-top__link:hover,
.header-top__link:focus {
	background-color: #212a3a;
}

.header-top__item a:hover::before {
	opacity: 1;
}

.header-top__link:active {
	color: rgba(255, 255, 255, 0.5);
}

.header-top__item a:active::before {
	opacity: 0.5;
}

.header-top__item--cart {
	background-color: #ee3643;
}

.header-top__item--cart a:hover,
.header-top__item--cart	a:focus{
	background-color: #fe3c49;
}

.header-top__item--cart a:active {
	background-color: #e61b29;
}

.header-top__item--order a{
	background-color: #63a63e;
}

.header-top__item--order a:hover,
.header-top__item--order a:focus {
	background-color: #5fbb2d;
}

.header-top__item--order a:active {
	background-color: #518534;
}
/*		end header-top__list		*/
/*		end header-top		*/

/*		header-middle  	*/
.header-middle {
	padding: 40px 0;
}

.header-middle section {
	display: inline-block;
}

.description__text {
	display: inline-block;
	width: 200px;

	font-size: 16px;
	font-style: italic;
	color: #ee3643;
}

.contacts__tel {
	padding: 6px 46px;

	font-size: 21px;
	font-weight: bold;
	color: #ee3643;

	border: 3px solid #fff;
}

.contacts__address {
	font-size: 14px;
	color: #32425c;
}

.sign-up a {
	padding: 10px 25px;

	background-color: #fff;

	font-size: 21px;
	color: #000;
}

/*		user-menu		*/
.user-menu__name {
	background-color: #fff;
	color: #000000;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.user-menu__exit {
	background-color: #fff;
}

.user-menu__link {
	color: #32425c;
	text-decoration: underline;
	font-size: 16px;
	line-height: 18px;
}
/*		end user-menu		*/
/*		end header-middle  	*/

/*		navigation		*/
.navigation__list {
	margin: 0;
	padding: 0;
}

.navigation__item {
	display: inline-block;

	background-color: #32425c;
}

.navigation__link {
	color: #fff;
}
/*		end navigation		*/


/*		main		*/
/*		info-block		*/
.info-block h2{
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
}

.info-block p {
	font-size: 13px;
	font-family: 'PT Sans';
}

.info-block li {
	font-size: 18px;
	line-height: 20px;
}
/*		end info-block		*/

/*		bread-crumbs		*/
.bread-crumbs a {
	color: #000;
	font-family: 'PT Sans';
	font-size: 13px;
	text-transform: uppercase;
}
/*		end bread-crumbs		*/

.category-name {
	background-color: #f2f6f8;
	color: #32425c;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

/*		catalog		*/
/*		catalog-filter		*/
.catalog-filter {
	font-family: 'PT Sans';
}

.catalog-filter legend {
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 700;
}

.catalog-filter label {
	text-transform: uppercase;
	font-size: 15px;
	line-height: 20px;
}

.catalog-filter__button {
	font-size: 13px;
	background-color: #fff;
	color: #000;
}
/*		end catalog-filter		*/

/*		catalog-items		*/
.catalog-items p {
	font-size: 18px;
	font-weight: 700;
}

.catalog-items a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.catalog-items del {
	color: #999999;
	text-transform: uppercase;
}

.catalog-items__price {
	color: #fff;
	background-color: #ee3643;
	text-transform: uppercase;
}

.catalog-items__buy {
	color: #fff;
	background-color: #63a63e;
}

.catalog-items__bookmarks {
	color: #32425c;
}

.catalog-items__new {
	color: #fff;
	background-color: #ee3643;
}
/*		end catalog-items		*/
/*		end catalog		*/
/*		end main		*/

/*		footer		*/
/*		footer__top		*/
.footer__top {
	background-color: #32425c;
}

.footer__info p {
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.footer__info a {
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.footer__nav a {
	color: #fff;
}

.footer__list:last-child a {
	color: #ffda96;
}
/*		end footer__top		*/

/*		footer__bottom		*/
.footer__bottom {
	background-color: #293449;
}

.footer__bottom p {
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}

.footer__bottom a {
	color: #ffd180;
}
/*		end footer__bottom		*/
/*		end footer		*/