 cuprum-regular - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cuprum-v11-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Cuprum Regular'), local('Cuprum-Regular'),
       url('../fonts/cuprum-v11-latin_cyrillic-regular.woff2') format('woff2');
}
/* cuprum-700 - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum Bold'), local('Cuprum-Bold'),
       url('../fonts/cuprum-v11-latin_cyrillic-700.woff2') format('woff2');
}

/* cuprum-italic - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum Italic'), local('Cuprum-Italic'),
       url('../fonts/cuprum-v11-latin_cyrillic-italic.woff2') format('woff2');
}

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2');
}

html {
	box-sizing: border-box;
}

*,
*::before, 
*::after { 
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 17px;
	line-height: 24px;
	color: #000000;
	background-color: #ffffff;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.button {
	display: inline-block;
	padding: 0 10px;
	padding-top: 8px;
	padding-bottom: 6px;

	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	vertical-align: top;

	background-color: #ee3643;

	border: none;
	border-radius: 2px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*		header		*/
header {
	padding-bottom: 60px;
	background-color: #f4f7f9;
}

.header-top {
	margin-bottom: 46px;
	background-color: #293449;
}

.wrapper {
	width: 940px;
	margin: 0 auto;
}

/*		header-top		*/
.header-top div {
	display: flex;
	justify-content: start;
	align-items: center;
}

.logo {
	position: relative;
	width: 220px;
	min-height: 42px;
	padding: 0 10px;
	padding-top: 13px;

	text-align: center;
	background-color: #ee3643;
}

.logo:hover,
.logo:focus {
	background-color: #ca2c37;
}

.logo:active {
	background-color: #ba2732;
}

.logo::after {
	content: "";

	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5px;
	margin-bottom: -5px;
	
	background-color: #b52933;
}

.logo:hover::after,
.logo:focus::after {
	background-color: #9a212a;
}

.logo:active::after {
	background-color: #8e1e26;
}

/*		header-top__form		*/
.header-top__form {
	position: relative;
	display: flex;
	align-items: center;
	flex-grow: 1;
	min-height: 42px;
}

.header-top__form input {
	width: 100%;
	padding-right: 10px;
	padding-left: 48px;
	padding-top: 11px;
	padding-bottom: 12px;

	background-color: inherit;

	border: none;
	font-size: 17px;
	line-height: 18px;
	color: #fff;
}

.header-top__form input:hover,
.header-top__form input:focus {
	background-image: url(../img/icon-search.svg);
	background-repeat: no-repeat;
	background-position: 17px 12px;
	background-color: #212a3a;
}

.header-top__form input:focus {
	outline: none;
	background-color: #fff;
	color: #000000;
	background-image: url(../img/icon-search-red.svg);
	background-repeat: no-repeat;
	background-position: 17px center;
}

.header-top__form input::placeholder {
	font-family: 'Cuprum';
	color: #fff;
}

.header-top__form label {
	font-size: 0;
}

.header-top__form label::before {
	content: "";
	position: absolute;
	left: 17px;
	top: 50%;
	width: 16px;
	height: 16px;
	margin-top: -9px;

	background-image: url(../img/icon-search.svg);
	opacity: 0.3;
}
/*		end header-top__form		*/

/*		header-top__list		*/
.header-top__list {
	display: flex;
	width: 450px;
	min-height: 42px;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.header-top__item {
	display: flex;
	align-items: stretch;
}

.header-top__link {
	position: relative;
	width: 150px;
	padding: 9px 5px;
	color: #fff;
}

.header-top__item:first-child a{
	padding-left: 44px;
}

.header-top__item:nth-child(2) a{
	padding-left: 49px;
}

.header-top__item:last-child a{
	text-align: center;
}

.header-top__item:first-child a::before,
.header-top__item:nth-child(2) a::before {
	content: "";
	position: absolute;
	width: 14px;
	height: 15px;
	top: 50%;
	left: 17px;
	transform: translateY(-63%);

	background-image: url(../img/icon-bookmark.svg);
	opacity: 0.3;
}

.header-top__item:nth-child(2) a::before {
	left: 18px;
	width: 15px;
	background-image: url(../img/cart-icon.svg);
}

.header-top__link:hover,
.header-top__link:focus {
	background-color: #212a3a;
}

.header-top__item a:hover::before {
	opacity: 1;
}

.header-top__link:active {
	color: rgba(255, 255, 255, 0.5);
}

.header-top__item a:active::before {
	opacity: 0.5;
}

.header-top__item--cart {
	background-color: #ee3643;
}

.header-top__item--cart a:hover,
.header-top__item--cart	a:focus{
	background-color: #fe3c49;
}

.header-top__item--cart a:active {
	background-color: #e61b29;
}

.header-top__item--order a{
	background-color: #63a63e;
}

.header-top__item--order a:hover,
.header-top__item--order a:focus {
	background-color: #5fbb2d;
}

.header-top__item--order a:active {
	background-color: #518534;
}
/*		end header-top__list		*/
/*		end header-top		*/

/*		header-middle  	*/
.header-middle {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: 38px;
}

.header-middle section {
	width: 300px;
}

/*		description		*/
.description__text {
	margin: 0;
	line-height: 23px;
  padding-top: 3px;
  padding-left: 52px;
	padding-right: 47px;
	font-size: 16px;
	font-style: italic;
	color: #ee3643;
}
/*		end description		*/

/*		contacts		*/
.contacts {
	display: flex;
	flex-direction: column;
}

.contacts__tel {
	position: relative;
	margin-right: auto;
	margin-bottom: 4px;
	padding: 8px 50px;
	padding-left: 71px;

	font-size: 21px;
	font-weight: 700;
	word-spacing: -2px;
	color: #ee3643;

	border: 3px solid #fff;
}

.contacts__tel::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 12px;
	width: 19px;
	height: 19px;
	transform: translateY(-9px);

	background-image: url(../img/icon-phone.svg);
}

.contacts__address {
	margin: 0;
	margin-left: 10px;
	font-size: 14px;
	color: #32425c;
}
/*		end contacts		*/

/*		user-menu		*/
.user-menu {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-wrap: wrap;
}

.user-menu > a {
	padding: 10px 24px;

	background-color: #fff;

	font-size: 21px;
	color: #000;
}

.user-menu .user-menu__enter {
	position: relative;
	margin-right: 10px;
	padding-left: 48px;
}

.user-menu__enter svg {
	position: absolute;
	top: 50%;
	left: 14px;
	width: 20px;
	height: 17px;
	transform: translateY(-50%);
}

.user-menu__enter:hover svg,
.user-menu__enter:focus svg {
	fill: #32425c;
}

.user-menu__enter:active svg {
	fill: #c5c5c5;
}

.user-menu > a:hover,
.user-menu > a:focus {
	color: #ee3643;
}

.user-menu > a:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #fff;
}

.user-menu__block {
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	width: 100%;
	margin-bottom: 5px;
}

.user-menu__name,
.user-menu__exit {
	min-height: 45px;
	background-color: #fff;
	color: #000000;
	font-size: 21px;
	line-height: 21px;
	font-weight: 400;
}

.user-menu__name {
	position: relative;
	max-width: 300px;
	padding: 12px 10px;
	padding-left: 47px;
	flex-grow: 1;
}

.user-menu__name:active {
	color: rgba(0, 0, 0, 0.3);
}

.user-menu__name svg {
	content: "";
	position: absolute;
	top: 50%;
	left: 14px;
	width: 20px;
	height: 18px;

	transform: translateY(-52%);
}

.user-menu__name:hover svg,
.user-menu__name:focus svg {
	fill: #32425c;
}

.user-menu__name:active svg {
	fill: #c5c5c5;
}

.user-menu__exit {
	position: relative;
	width: 45px;
	font-size: 0;
}

.user-menu__exit svg {
	position: absolute;
	width: 21px;
	height: 17px;
	top: 50%;
	left: 50%;
	transform: translate( -41%, -55%);
}

.user-menu__exit:hover svg,
.user-menu__exit:focus svg {
	fill: #32425c;
}

.user-menu__exit:active svg {
	fill: #c5c5c5;
}

.user-menu__list {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	margin-right: auto;
	padding-left: 19px;
}

.user-menu__item {
	margin-right: 32px;
}

.user-menu__item:first-child {
	position: relative;
}

.user-menu__item:first-child::after {
	content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	right: -19px;
	top: 50%;
	transform: translateY(-50%);

	background-color: #32425c;

	border-radius: 50%;
}

.user-menu__link {
	color: #32425c;
	text-decoration: underline;
	font-size: 16px;
	line-height: 18px;
}

.user-menu__link:hover,
.user-menu__link:focus {
	color: #ee3643;
}

.user-menu__link:active {
	color: #32425c;
	opacity: 0.3;
}
/*		end user-menu		*/
/*		end header-middle  	*/

/*		navigation		*/
.navigation__list {
	display: flex;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
}

.navigation__item {
	display: flex;
	flex-grow: 1;
	text-align: center;
}

.navigation__link {
	position: relative;
	width: 100%;
	padding-top: 17px;
	padding-bottom: 19px;
	background-color: #32425c;
	color: #fff;
	flex-grow: 1;
}

.navigation__link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5px;

	background-color: #293449;
}

.navigation__item:first-child a {
	padding-left: 22px;
}

.navigation__item:last-child a {
	padding-right: 25px;;
}

.navigation__link:hover,
.navigation__link:focus {
	background-color: #293449;
}

.navigation__link:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #1d2739;
}

.navigation__link:active::after {
	background-color: #1d2739;
}
/*		end navigation		*/
/*		end header		*/



/*		main		*/
/*		info-block		*/
.info-block {
	display: flex;
	align-items: stretch;
	padding-top: 54px;
	padding-bottom: 86px;
}
.info-block h2{
	margin-bottom: 26px;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: -0.8px;
}

.info-block p {
	margin: 0;
	font-size: 13px;
	font-family: 'PT Sans';
}

.features {
	display: flex;
	flex-direction: column;
	width: 620px;
	margin-right: 20px;
}

.features__list {
	margin: 0;
	padding: 0;
	margin-bottom: 36px;
}

.features__item {
	margin-bottom: 24px;
}

.features__item:nth-child(2) {
	margin-bottom: 0;
}

.features__item:nth-child(2) p{
	padding-right: 200px;
	margin-bottom: 21px;
}

.features__text {
	padding-right: 60px;
	letter-spacing: 0.1px;
}

.features__inner-list {
	margin-bottom: 0;
}

.features__inner-item {
	position: relative;
	margin-bottom: 20px;
	padding-left: 37px;
	font-size: 18px;
	line-height: 20px;
}

.features__inner-item:last-child {
	margin-bottom: 0;
}

.features__inner-item::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 25px;
	height: 2px;
	background-color: #ee3643;
	transform: translateY(-50%);
}

.features__btn {
	width: 220px;
	margin-top: auto;
	padding-left: 12px;
}

.map {
	display: flex;
	flex-direction: column;
	width: 300px;
}

.map p {
	margin: 0;
	padding-right: 100px;
	margin-bottom: 31px;
}

.map__block {
	margin-bottom: 33px;
}

.map__btn {
	width: 100%;
	text-align: center;
	padding-left: 16px;
	margin-top: auto;
}
/*		end info-block		*/

/*		bread-crumbs		*/
.bread-crumbs a {
	color: #000;
	font-family: 'PT Sans';
	font-size: 13px;
	text-transform: uppercase;
}
/*		end bread-crumbs		*/

.category-name {
	background-color: #f2f6f8;
	color: #32425c;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

/*		catalog		*/
/*		catalog-filter		*/
.catalog-filter {
	font-family: 'PT Sans';
}

.catalog-filter legend {
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 700;
}

.catalog-filter label {
	text-transform: uppercase;
	font-size: 15px;
	line-height: 20px;
}

.catalog-filter__button {
	font-size: 13px;
	background-color: #fff;
	color: #000;
}
/*		end catalog-filter		*/

/*		catalog-items		*/
.catalog-items p {
	font-size: 18px;
	font-weight: 700;
}

.catalog-items a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.catalog-items del {
	color: #999999;
	text-transform: uppercase;
}

.catalog-items__price {
	color: #fff;
	background-color: #ee3643;
	text-transform: uppercase;
}

.catalog-items__buy {
	color: #fff;
	background-color: #63a63e;
}

.catalog-items__bookmarks {
	color: #32425c;
}

.catalog-items__new {
	color: #fff;
	background-color: #ee3643;
}
/*		end catalog-items		*/
/*		end catalog		*/
/*		end main		*/

/*		footer		*/
/*		footer__top		*/
.footer__top {
	padding-bottom: 49px;
	background-color: #32425c;
}

.footer__wrap {
	display: flex;
	justify-content: space-between;
}

.footer__info {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.footer__info .logo {
	padding-top: 20px;
	padding-bottom: 14px;
	margin-bottom: 33px;
}

.footer__info p {
	margin: 0;
	margin-left: 3px;
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;
}

.footer__tel {
	margin-left: 3px;
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;
}

.footer__nav a {
	color: #f1f5f7;
}

.footer__list {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-top: 38px;
}

.footer__list li {
	margin-right: 59px;
}

.footer__list a {
	position: relative;
	font-size: 18px;
}

.footer__list:last-child {
	margin-top: 34px;
}

.footer__list:last-child li {
	margin-right: 59.5px;
}

.footer__list li:last-child {
	margin-right: 0;
}

.footer__list:last-child a {
	color: #ffda96;
}

.footer__list a:hover::before,
.footer__list a:focus::before {
	content: "";
	position: absolute;
	bottom: 1px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #f1f5f7;
}

.footer__list:last-child a:hover::before,
.footer__list:last-child a:focus::before {
	content: "";
	position: absolute;
	bottom: 1px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #ffd180;
}

.footer__list a:active {
	opacity: 0.5;
}

.footer__list a:active::before {
	display: none;
}
/*		end footer__top		*/

/*		footer__bottom		*/
.footer__bottom {
	padding: 35px 0;
	background-color: #293449;
}

.footer__bottom .footer__wrap {
	align-items: center;
	justify-content: flex-end;
}

.footer__bottom p {
	margin: 0;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}

.footer__bottom a {
	font-size: 16px;
	color: #ffd180;
}

.footer__bottom .footer__copyright {
	margin-right: auto;
}

.social-block {
	display: flex;
	margin-right: 108px;
}

.social-block a {
	width: 40px;
	height: 40px;
	margin-right: 4px;

	border-radius: 50%;
	background-color: #212a3a;
	background-image: url(../img/fb-icon.svg);
	background-position: center;
	background-repeat: no-repeat;
}

.social-block a:first-child {
	background-image: url(../img/vk-icon.svg);
}

.social-block a:last-child {
	margin-right: 0;
	background-image: url(../img/insta-icon.svg);
}

.social-block a:hover,
.social-block a:focus,
.social-block a:active {
	background-color: #ee3643;
}

.footer__contacts {
	display: flex;
	padding: 0 14px;
	line-height: 16px;
}

.footer__contacts div:first-child {
	margin-right: 52px;
}

.footer__contacts a {
	position: relative;
}

.footer__contacts a:hover::before,
.footer__contacts a:focus::before {
	content: "";
	position: absolute;
	bottom: 1px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #ffd180;
}

.footer__contacts a:active {
	color: #ee3643;
}

.footer__contacts a:active::before {
	display: none;
}
/*		end footer__bottom		*/
/*		end footer		