html {
	box-sizing: border-box;
}

*,
*::before, 
*::after { 
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 17px;
	line-height: 24px;
	color: #000000;
	background-color: #ffffff;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.button {
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	background-color: #ee3643;
	border: none;
}

header {
	background-color: #f4f7f9;
}

.visually-hidden {
	display: none;
}

.header-top {
	background-color: #293449;
}

.wrapper {
	width: 940px;
	margin: 0 auto;
}

/*		header-top		*/
.logo {
	min-width: 220px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 40px;

	background-color: #ee3643;
}

.header-top__form {
	display: inline-block;
}

.header-top__list {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.header-top__item {
	display: inline-block;
	padding: 10px 0;
}

.header-top__item--cart {
	background-color: #ee3643;
}

.header-top__item--order {
	background-color: #63a63e;
}

.header-top__link {
	color: #fff;
}
/*		end header-top		*/

/*		header-middle  	*/
.header-middle {
	padding: 40px 0;
}

.header-middle section {
	display: inline-block;
}

.description__text {
	display: inline-block;
	width: 200px;

	font-size: 16px;
	font-style: italic;
	color: #ee3643;
}

.contacts__tel {
	padding: 6px 46px;

	font-size: 21px;
	font-weight: bold;
	color: #ee3643;

	border: 3px solid #fff;
}

.contacts__address {
	font-size: 14px;
	color: #32425c;
}

.sign-up a {
	padding: 10px 25px;

	background-color: #fff;

	font-size: 21px;
	color: #000;
}

/*		user-menu		*/
.user-menu__name {
	background-color: #fff;
	color: #000000;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.user-menu__exit {
	background-color: #fff;
}

.user-menu__link {
	color: #32425c;
	text-decoration: underline;
	font-size: 16px;
	line-height: 18px;
}
/*		end user-menu		*/
/*		end header-middle  	*/

/*		navigation		*/
.navigation__list {
	margin: 0;
	padding: 0;
}

.navigation__item {
	display: inline-block;

	background-color: #32425c;
}

.navigation__link {
	color: #fff;
}
/*		end navigation		*/


/*		main		*/
/*		info-block		*/
.info-block h2{
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
}

.info-block p {
	font-size: 13px;
	font-family: 'PT Sans';
}

.info-block li {
	font-size: 18px;
	line-height: 20px;
}
/*		end info-block		*/

/*		bread-crumbs		*/
.bread-crumbs a {
	color: #000;
	font-family: 'PT Sans';
	font-size: 13px;
	text-transform: uppercase;
}
/*		end bread-crumbs		*/

.category-name {
	background-color: #f2f6f8;
	color: #32425c;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

/*		catalog		*/
/*		catalog-filter		*/
.catalog-filter {
	font-family: 'PT Sans';
}

.catalog-filter legend {
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 700;
}

.catalog-filter label {
	text-transform: uppercase;
	font-size: 15px;
	line-height: 20px;
}

.catalog-filter__button {
	font-size: 13px;
	background-color: #fff;
	color: #000;
}
/*		end catalog-filter		*/

/*		catalog-items		*/
.catalog-items p {
	font-size: 18px;
	font-weight: 700;
}

.catalog-items a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.catalog-items del {
	color: #999999;
	text-transform: uppercase;
}

.catalog-items__price {
	color: #fff;
	background-color: #ee3643;
	text-transform: uppercase;
}

.catalog-items__buy {
	color: #fff;
	background-color: #63a63e;
}

.catalog-items__bookmarks {
	color: #32425c;
}

.catalog-items__new {
	color: #fff;
	background-color: #ee3643;
}
/*		end catalog-items		*/
/*		end catalog		*/
/*		end main		*/

/*		footer		*/
/*		footer__top		*/
.footer__top {
	background-color: #32425c;
}

.footer__info p {
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.footer__info a {
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.footer__nav a {
	color: #fff;
}

.footer__nav ul:nth-child(2) a {
	color: #ffda96;
}
/*		end footer__top		*/

/*		footer__bottom		*/
.footer__bottom {
	background-color: #293449;
}

.footer__bottom p {
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}

.footer__bottom a {
	color: #ffd180;
}
/*		end footer__bottom		*/
/*		end footer		*/